* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Primary */
--soft-blue: rgb(139, 172, 218);
--cyan: rgb(0, 255, 247);

    /* Neutral*/
--very-dark-blue-MainBG: rgb(13, 25, 43);
--very-dark-blue-CardBG: rgb(20, 37, 61);
--very-dark-blue-line: rgb(47, 65, 91);
--white: rgb(255, 255, 255);

    /* Fonts*/
--font-size: 18px;
--font-family: 'Outfit';
}

body {
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--very-dark-blue-MainBG);
    font-family: var(--font-family);
}

.nft-card {
    height: 600px;
    width: 350px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--very-dark-blue-CardBG);
    border-radius: 10px;
}

.top-content {
    display: flex;
    align-items: center;
    justify-content: center;
}



.eye-icon {
    position: absolute;
    inset: 0;
    top: -250px;
    margin: auto;
    z-index: -1;
}

.nft-image {
    height: 300px;
    margin: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.nft-image:hover {
    opacity: 0.35;
}

.bottom-content, 
.nft-icon-price-time-left, 
.creator {
    margin-left: 1.5rem;
    margin-bottom: 1em;
}

.nft-title {
    color: var(--white);
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 1em;
    cursor: pointer;
    display: inline-block;
}

.nft-title:hover {
    color: var(--cyan)
}

.descritpion {
    font-size: var(--font-size);
    color: var(--soft-blue);
    font-weight: 300;
    font-size: var(--font-size);
    margin-bottom: 0.5em;
}

.nft-icon-price-time-left {
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
    }

.nft-icon, 
.clock-icon {
    height: 1em;
    margin-right: 0.5em;
    align-self: center;
}

.nft-price, 
.time {
    display: flex;
    justify-content: space-between;
}

.price {
    color: var(--cyan);
    font-weight: 400;
    font-size: 1em;
}


.time-left {
    color: var(--soft-blue);
    font-weight: 300;
    font-size: 1em;
}

.profile-picture {
    height: 2em;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 1em;
    align-self: center;
}

.creator {
    display: flex;
    align-content: center;
    position: absolute;
    bottom: 1em;
    height: 3em;
    width: 19em;
    border-top-style: solid;
    border-top-width: 1px;
    align-items: center;
    border-top-color: hsla(215, 52%, 70%, 0.15);
    padding-top: 1em;
}

.nft-creator {
    color: var(--soft-blue);
    font-weight: 300;
    font-size: 1em;
}

.nft-creator-name {
    color: var(--white);
    font-weight: 300;
    cursor: pointer;
}

.nft-creator-name:hover {
    color: var(--cyan)
}
